body {
	font-family: helvetica;
	background: white;
	text-align: center;
	color: black;
	font-size: 14px;
}

h1 {
	font-size: 70px;
	font-weight: bold;
	color: white;
}

h2 {
	font-size: 32px;
	font-weight: bold;
}

h3 {
	font-size: 23px;
	font-weight: bold;
}

.header {
	background-image: url("../broadway/resources/images/the-flatiron-building.png");
}